<h2>Por País</h2>
<hr>
<div class="row">
    <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        [placeHolderInput]="placeHolderPais"
    >

    </app-pais-input>
</div>
<ul class="list-group" *ngFor="let pais of paisesSugeridos">
    <li class="list-group-item list-group-item-action">
        <a [routerLink]="['/pais',pais.altSpellings[0]]">{{pais.name.common}}</a>
        
    </li>
</ul>

<hr>
<div class="alert alert-danger" *ngIf="hayError">
    no se encontro nad con el termino {{termino}}
</div>
<div class="row" *ngIf="!hayError">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>