<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text"
                name="termino"
                class="form-control"
                placeholder="Buscar Pais"
                [(ngModel)]="termino"
            >
        </form>
    </div>
</div>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    no se encontro nad con el termino {{termino}}
</div>
<div class="row" *ngIf="!hayError">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let pais of paises; let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td><img [src]="pais.flags.png" alt="" class="small-flag" width="50px" height="50px"></td>
                    <td>{{pais.name.common}}</td>
                    <td>{{pais.population}}</td>
                    <td>
                        <a [routerLink]="['/pais',pais.altSpellings[0]]"> ver</a>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>