<div class="row container mt-4">
    <div class="col-3">
        <h2>Busquedas</h2>
        <hr>
        <ul>
            <li class="list-group-item" 
            routerLink="" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            >Buscar Por País</li>

            <li class="list-group-item" 
            routerLink="/region"
            routerLinkActive="active"
            >Buscar Por Region</li>

            <li class="list-group-item" 
            routerLinkActive="active"
            routerLink="/capital"
            >Buscar Por Capital</li>
        </ul>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
        <hr>
    </div>
</div>