<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>Pipes incluidos en Angular-Usualmente en el Common Module</p>
</div>
<div class="grid">
    <div class="col-12 md:col-6 lg:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            Saludos {{nombre}}, es un placer 
            {{genero|i18nSelect:invitacionMap}} 
            a nuestro evento.
        </p-fieldset>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            Content
        </p-fieldset>
    </div>
</div>